---
controller_workflows:
  - name: CONVERT2RHEL / 02 Convert
    description: Workflow for Snapshot and Convert2RHEL
    extra_vars:
      org_id: "Default_Organization"
      convert_convert2rhel_opts: '--no-rpm-va'
      convert_reboot_requested: true
      lvm_snapshots_action: create
    inventory: EC2 Dynamic Inventory
    state: present
    organization: Default
    survey_enabled: true
    survey_spec:
      name: ''
      description: ''
      spec:
        - question_name: Select EL Group to convert
          variable: dynamic_inventory_group
          type: multiplechoice
          choices: "{{ hostvars['satellite.example.com']['satellite_lifecycle_environments'] | selectattr('name', 'match', '^CentOS.*$') | map(attribute='name') | list + hostvars['satellite.example.com']['satellite_lifecycle_environments'] | selectattr('name', 'match', '^OL.*$') | map(attribute='name') | list }}"
          required: true
        - question_name: Select target RHEL Lifecycle Environment to convert to
          variable: rhel_lifecycle_environment
          type: multiplechoice
          choices: "{{ hostvars['satellite.example.com']['satellite_lifecycle_environments'] | selectattr('name', 'match', '^RHEL.*$') | map(attribute='name') | list}}"
          required: true
    ask_limit_on_launch: true
    ask_variables_on_launch: true
    simplified_workflow_nodes:
      - identifier: UTILITY / Snapshot Instance
        unified_job_template: UTILITY / Snapshot Instance
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - OS / Convert to RHEL7
      - identifier: OS / Convert to RHEL7
        unified_job_template: OS / Convert to RHEL7
        organization: Default
        all_parents_must_converge: false
        success_nodes: []

  - name: CONVERT2RHEL / 03 Rollback
    description: Revert node workflow - selection via dynamic inventory group
    extra_vars:
      snapshot_set_name: snap01
      snapshot_create_boot_backup: true
      lvm_snapshots_action: revert
      org_id: "Default_Organization"
      product_name_or_regex: "Community Enterprise OS 7"
    state: present
    organization: Default
    survey_enabled: true
    survey_spec:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: dynamic_inventory_group
          choices: "{{ hostvars['satellite.example.com']['satellite_lifecycle_environments'] | selectattr('name', 'match', '.*') | map(attribute='name') | list}}"
          required: true
    ask_limit_on_launch: true
    simplified_workflow_nodes:
      - identifier: UTILITY / Snapshot Instance
        unified_job_template: UTILITY / Snapshot Instance
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - SERVER / Unregister
      - identifier: SERVER / Unregister
        unified_job_template: SERVER / Unregister
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - SERVER / Register
      - identifier: SERVER / Register
        unified_job_template: SERVER / Register
        organization: Default
        all_parents_must_converge: false
        type: inventory_source
        success_nodes: []

  - name: CONVERT2RHEL / 04 Commit
    description: Workflow for Snapshot delete and Update instance tags
    extra_vars:
      lvm_snapshots_action: remove
    inventory: EC2 Dynamic Inventory
    state: present
    organization: Default
    survey_enabled: true
    survey_spec:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: dynamic_inventory_group
          choices: "{{ hostvars['satellite.example.com']['satellite_lifecycle_environments'] | selectattr('name', 'match', '^CentOS.*$') | map(attribute='name') | list + hostvars['satellite.example.com']['satellite_lifecycle_environments'] | selectattr('name', 'match', '^OL.*$') | map(attribute='name') | list }}"
          required: true
    ask_limit_on_launch: true
    simplified_workflow_nodes:
      - identifier: UTILITY / Snapshot Instance
        unified_job_template: UTILITY / Snapshot Instance
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - EC2 / Set instance tags based on Satellite facts
      - identifier: EC2 / Set instance tags based on Satellite facts
        unified_job_template: EC2 / Set instance tags based on Satellite facts
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - CentOS7 Development
      - identifier: CentOS7 Development
        unified_job_template: CentOS7 Development
        organization: Default
        all_parents_must_converge: false
        type: inventory_source
        success_nodes:
          - OL7 Development
      - identifier: OL7 Development
        unified_job_template: OL7 Development
        organization: Default
        all_parents_must_converge: false
        type: inventory_source
        success_nodes:
          - RHEL7 Development
      - identifier: RHEL7 Development
        unified_job_template: RHEL7 Development
        organization: Default
        all_parents_must_converge: false
        type: inventory_source
        success_nodes: []

  - name: Z / SETUP / Insights
    description: Configures Insights for this workshop
    extra_vars:
      manifest_name: smrtmgmt-wrksp
      offline_token: value
      rhsm_org_id: value
      insights_user: username
      insights_password: password
    inventory: Workshop Inventory
    state: present
    organization: Default
    survey_enabled: true
    survey_spec:
      name: ''
      description: ''
      spec:
        - question_name: Server Name or Pattern
          type: text
          variable: PREFIX
          required: false
        - question_name: Choose Environment
          type: multiplechoice
          variable: env
          choices:
            - Dev
            - QA
            - Prod
          required: true
    simplified_workflow_nodes:
      - identifier: INSIGHTS / Replace Satellite Manifest
        all_parents_must_converge: false
        unified_job_template: Z / INSIGHTS / Replace Satellite Manifest
        success_nodes:
          - SERVER / RHEL7 - Register
        organization: Default
      - identifier: SERVER / RHEL7 - Register
        unified_job_template: SERVER / RHEL7 - Register
        success_nodes:
          - INSIGHTS / Install and Register
        organization: Default
      - identifier: INSIGHTS / Install and Register
        all_parents_must_converge: false
        unified_job_template: Z / INSIGHTS / Install and Register
        success_nodes:
          - INSIGHTS / Create Insights Credential
        organization: Default
      - identifier: INSIGHTS / Create Insights Credential
        all_parents_must_converge: false
        unified_job_template: Z / INSIGHTS / Create Insights Credential
        success_nodes:
          - INSIGHTS / Create Insights Project
        organization: Default
      - identifier: INSIGHTS / Create Insights Project
        all_parents_must_converge: false
        unified_job_template: Z / INSIGHTS / Create Insights Project
        organization: Default
        success_nodes: []

  - name: Z / SETUP / Workshop - CentOS7
    description: Workflow for workshop deployment
    inventory: Workshop Inventory
    state: present
    organization: Default
    survey_enabled: false
    simplified_workflow_nodes:
      - identifier: Disable transparent huge pages on Satellite
        unified_job_template: Z / SETUP / Disable transparent hugepages
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - Satellite CaC - CENTOS7_to_RHEL7
      - identifier: Satellite CaC - CENTOS7_to_RHEL7
        unified_job_template: Z / CaC / Satellite / C2R - RIPU scenario
        organization: Default
        all_parents_must_converge: false
        extra_data:
          satellite_cac_scenario: "CENTOS7_to_RHEL7"
        success_nodes:
          - Satellite CaC - RHEL7_to_RHEL8
      - identifier: Satellite CaC - RHEL7_to_RHEL8
        unified_job_template: Z / CaC / Satellite / C2R - RIPU scenario
        organization: Default
        all_parents_must_converge: false
        extra_data:
          satellite_cac_scenario: "RHEL7_to_RHEL8"
        success_nodes:
          - Register CentOS7 nodes to Satellite AK CentOS7_Dev
          - Register RHEL7 nodes to Satellite AK RHEL7_Dev
      - identifier: Setup Cockpit Web Console
        unified_job_template: Z / SETUP / Cockpit - Web Console
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - Extend partition and resize physical volume
      - identifier: Extend partition and resize physical volume
        unified_job_template: UTILITY / Extend partition and resize physical volume
        organization: Default
        limit: centos7,rhel7
        all_parents_must_converge: false
        always_nodes:
          - Register CentOS7 nodes to Satellite AK CentOS7_Dev
          - Register RHEL7 nodes to Satellite AK RHEL7_Dev
      - identifier: Register RHEL7 nodes to Satellite AK RHEL7_Dev
        unified_job_template: SERVER / RHEL7 - Register
        organization: Default
        all_parents_must_converge: true
        extra_data:
          PREFIX: node
          env: Dev
        success_nodes:
          - Set instance tags based on Satellite facts
      - identifier: Register CentOS7 nodes to Satellite AK CentOS7_Dev
        unified_job_template: SERVER / CentOS7 - Register
        organization: Default
        all_parents_must_converge: true
        extra_data:
          PREFIX: node
          env: Dev
        success_nodes:
          - Set instance tags based on Satellite facts
      - identifier: Set instance tags based on Satellite facts
        unified_job_template: EC2 / Set instance tags based on Satellite facts
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - RHEL7 Development inventory source
      - identifier: RHEL7 Development inventory source
        unified_job_template: RHEL7 Development
        organization: Default
        all_parents_must_converge: false
        type: inventory_source
        success_nodes:
          - CentOS7 Development inventory source
      - identifier: CentOS7 Development inventory source
        unified_job_template: CentOS7 Development
        organization: Default
        all_parents_must_converge: false
        type: inventory_source
        success_nodes:
          - Setup miscellaneous host configuration
      - identifier: Setup miscellaneous host configuration
        unified_job_template: Z / SETUP / Miscellaneous host config
        organization: Default
        all_parents_must_converge: false
        extra_data:
          dynamic_inventory_group: "aws_ec2"
        success_nodes: []

  - name: Z / SETUP / Workshop - OL7
    description: Workflow for workshop deployment
    inventory: Workshop Inventory
    state: present
    organization: Default
    survey_enabled: false
    simplified_workflow_nodes:
      - identifier: Disable transparent huge pages on Satellite
        unified_job_template: Z / SETUP / Disable transparent hugepages
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - Satellite CaC - RHEL7_to_RHEL8
      - identifier: Satellite CaC - RHEL7_to_RHEL8
        unified_job_template: Z / CaC / Satellite / C2R - RIPU scenario
        organization: Default
        all_parents_must_converge: false
        extra_data:
          satellite_cac_scenario: "RHEL7_to_RHEL8"
        success_nodes:
          - Set OL7 EC2 instance tags
          - Register RHEL7 nodes to Satellite AK RHEL7_Dev
      - identifier: Setup Cockpit Web Console
        unified_job_template: Z / SETUP / Cockpit - Web Console
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - Extend partition and resize physical volume
      - identifier: Extend partition and resize physical volume
        unified_job_template: UTILITY / Extend partition and resize physical volume
        organization: Default
        limit: centos7,rhel7
        all_parents_must_converge: false
        always_nodes:
          - Set OL7 EC2 instance tags
          - Register RHEL7 nodes to Satellite AK RHEL7_Dev
      - identifier: Register RHEL7 nodes to Satellite AK RHEL7_Dev
        unified_job_template: SERVER / RHEL7 - Register
        organization: Default
        all_parents_must_converge: true
        extra_data:
          PREFIX: node
          env: Dev
        success_nodes:
          - Set instance tags based on Satellite facts
      - identifier: Set OL7 EC2 instance tags
        unified_job_template: EC2 / Set instance tag - OracleLinux7
        organization: Default
        all_parents_must_converge: true
        success_nodes:
          - Set instance tags based on Satellite facts
      - identifier: Set instance tags based on Satellite facts
        unified_job_template: EC2 / Set instance tags based on Satellite facts
        organization: Default
        all_parents_must_converge: false
        success_nodes:
          - RHEL7 Development inventory source
      - identifier: RHEL7 Development inventory source
        unified_job_template: RHEL7 Development
        organization: Default
        all_parents_must_converge: false
        type: inventory_source
        success_nodes:
          - OL7 Development inventory source
      - identifier: OL7 Development inventory source
        unified_job_template: OL7 Development
        organization: Default
        all_parents_must_converge: false
        type: inventory_source
        success_nodes:
          - Setup miscellaneous host configuration
      - identifier: Setup miscellaneous host configuration
        unified_job_template: Z / SETUP / Miscellaneous host config
        organization: Default
        all_parents_must_converge: false
        extra_data:
          dynamic_inventory_group: "aws_ec2"
        success_nodes: []
...
