<!DOCTYPE html>
<html>
<head>
    <style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    </style>
</head>
<body>

{{inventory_hostname}}
<a href="index.html"> Main </a>

<table style="width:100%">
        <tr>
            <th>Name</th>
            <th>After Patch</th>
        </tr>
	{%for pkg in updates.changes.updated %}
        <tr>
            <tr>
            <th>{{pkg[0]}}</th>
            <th>{{ pkg[1] }}</th>
            </tr>
            {% endfor %}
    </table>
</body>
</html>
