{
  "organization_id": {{ organizations_resource_info_result.resources | selectattr('name', 'search', organization) | map(attribute='id') | list | first }},
  "location_id": {{ locations_resource_info_result.resources | selectattr('name', 'search', location) | map(attribute='id') | list | first }},
  "registration_command": {
    "smart_proxy_id": {{ capsules_resource_info_result.resources | selectattr('name', 'search', '^satellite') | map(attribute='id') | list | first }},
    "setup_insights": {{ setup_insights | default(false) }},
    "setup_remote_execution": {{ setup_remote_execution | default(false) }},
    "insecure": {{ lookup('env', 'SATELLITE_VALIDATE_CERTS') | default(true) }},
    "update_packages": {{ update_packages | default(false) }},
    "activation_key": "{{ subtoken_activation_key }}",
    "force": {{ force_register | default(false) }},
    "jwt_expiration": 4
  }
}